services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch-node
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - es_network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    networks:
      - es_network
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.15.0
    container_name: logstash
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline
    ports:
      - "1514:1514/udp"    # Syslog UDP
    networks:
      - es_network
    depends_on:
      - elasticsearch

  # Víctima con SSH y rsyslog, ya configurada para enviar logs a Logstash
  victim-ssh:
    build: ./victim-ssh
    container_name: victim-ssh
    ports:
      - "2222:2222"          # SSH expuesto en el host en el puerto 2222 (didáctico)
    networks:
      - es_network

  # Contenedor con THC Hydra (imagen oficial)
  hydra:
    image: vanhauser/hydra
    container_name: hydra-cli
    entrypoint: ["/bin/sh", "-c", "while true; do sleep 3600; done"]
    tty: true
    stdin_open: true
    networks:
      - es_network
    volumes:
      - ./wordlists:/wordlists

volumes:
  es_data:
    driver: local

networks:
  es_network:
    driver: bridge
